.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}
.cards.background-cards.block  .cards-card-body {
  margin: 72px;
  padding: 78px;
}
.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.fullrow-cards.block ul {
  display:block
}
.cards.go-cards.block .cards-card-body p {
  overflow: hidden;
 
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: dimgray;
}
.cards.go-cards.block .cards-card-body p strong {
  width: 100%;
  color: black;
}

.cards.go-cards.block > ul > li {
  border: 0px solid #dadada;
}
.cards.background-cards.cards > ul {
  display: unset;
    object-fit: cover;
   max-width:auto;
}
.cards.background-cards.block  ul > li{
  border: 0px solid #dadada;
}

.cards.background-cards.block .cards-card-body {
  border: 0px solid #dadada;
  position: relative;
  margin-top: -15rem;
  background: #ffff;
  /* z-index: 99999; */
}

.go-cards.cards .cards-card-body {
  margin: 0px;
  text-transform: uppercase; 
}
.about-cards .cards > ul > li img {
  width: 61%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.about-cards .cards-card-image img {
  border-radius: 59%;
  height: 164px;
  /* object-fit: cover; */
  width: 164px;
  margin-bottom: 7px;
  margin-top: 7px;

}
.about-cards .cards-card-body{
  text-align: start;
}
.cards.go-cards.about-cards.block p{
  -ms-flex-pack: center;
  display: -ms-flexbox;
  display: flex;
  justify-content: start;
  align-content: flex-start;
}
.cards.go-cards.about-cards.block p a
{padding: 2px;background-color: black;color: white;}