.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 0px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.fullrow-cards.block ul {
  display:block
}
.cards.go-cards.block .cards-card-body p {
  overflow: hidden;
 
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: dimgray;
}
.cards.go-cards.block .cards-card-body p strong {
  width: 100%;
  color: black;
}

.cards.go-cards.block > ul > li {
  border: 0px solid #dadada;
  clear: both !important;
  display: block;
  float: unset !important;
  margin: 0 auto !important;
  max-width: 873pt !important;
}


.go-cards.cards .cards-card-body {
  margin: 0px;
  text-transform: uppercase; 
}
.about-cards .cards > ul > li img {
  width: 61%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.about-cards .cards-card-image img {
  border-radius: 59%;
  height: 164px;
  /* object-fit: cover; */
  width: 164px;
  margin-bottom: 7px;
  margin-top: 7px;

}
.about-cards .cards-card-body{
  text-align: start;
}
.cards.go-cards.about-cards.block p{
  -ms-flex-pack: center;
  display: -ms-flexbox;
  display: flex;
  justify-content: start;
  align-content: flex-start;
}
.cards.go-cards.about-cards.block p a
{padding: 2px;background-color: black;color: white;}

.cards-card-body p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cards .cards-card-body {
  margin: 0;
}
.cards-card-body h6 {
  color: dimgray;  
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap;
  text-transform: uppercase; 
}
.cards.go-cards.about-cards.block {
  margin: 30px;
}




a.button-icon {
  background: var(--text-color);
          border-radius: 0;
          padding: 0.3em 1em;
}
.social-links {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
     
      padding-top: 1rem;
      .icon {
          font-family: "wknd-icon-fonts";
          color: white;
      }

      .icon-facebook::before {
          content: "\e905";
      }

      .icon-twitter::before {
          content: "\e904";
      }

      .icon-instagram::before {
          content: "\e906";
      }

      .button {
          background: var(--text-color);
          border-radius: 0;
          padding: 0.3em 1em;
      }
  }
  .section.carousel-container.columns-container.cards-container .social-links {
    display:none;
}

.cards.go-cards.my-listcard.block .social-links {
  display:none;
}

@media(max-width: 767px) {
h2#our-contributors 
  {
  font-size: 36px;
 }
  h1#about-us {
     font-size: 40px;
 }
 .section.cards-container
  p >em {
     font-size: 14px;
 }
 h2#wknd-guides {
  font-size:36px;
}

h2#wknd-guides p {
  font-size: 14px;
}

.cards.go-cards.about-cards.block p {
  font-size: 14px;
}


.cards.go-cards.about-cards.block h3 {
  font-size:24px;
}

} 
.section.footer-section p {
  font-size:12px
}


.cards.go-cards.my-listcard.blur-card.block > ul > li {
  opacity: .65;
}

.cards.go-cards.my-listcard.blur-card.block a {
  background-color: #ebebeb;
  color: dimgray;
  font-size: var(--fontSizeSmall, 14px);
  padding: .5em 1em;
  text-transform: uppercase;
}

.cards.go-cards.my-listcard.blur-card.block strong {
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-gradient(linear, right bottom, left top, from(hsla(0, 0%, 100%, 0)), color-stop(50%, hsla(0, 0%, 100%, 0)), color-stop(50%, var(--brandPrimary, #ffea00)), to(var(--brandPrimary, #ffea00)));
  background: linear-gradient(to top left, hsla(0, 0%, 60%, 0) 0, hsla(0, 0%, 100%, 0) 69%, var(--brandPrimary, #ffea00) 3%, var(--brandPrimary, #ffea00) 69%);
  color: #000;
  content: "";
  font-family: wknd-icon-font !important;
  font-size: 1.25rem;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  padding: 9pt;
  text-transform: none;
  top: 49px;
  z-index: 2;
}
