/* header and nav layout */
/*header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}*/
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
  margin-top: 0;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: var(--bodyBackground, #fff);
  
  -webkit-transition: padding-bottom 0s ease, padding-top 0s;
}


header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-xs);
}

header nav .nav-sections ul > li {
  font-weight: 500;
  padding: 15px 17px;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    /*content: '';*/
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
    
  }
  .nav-drop:hover { background-color: #ffea00; 
    
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
 
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}
.nav-wrapper.shrink {
  padding: 15px;
  margin: 0px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .26);
  -webkit-transition: padding-bottom .5s ease, padding-top .5s;
}

.nav-wrapper .default-content-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.nav-wrapper .default-content-wrapper ul>li:hover {
  cursor: pointer;
  background:#ffea00
}



@media(max-width: 767px) {



  header nav .nav-hamburger {
      position: absolute;
      grid-area: hamburger;
      display: flex;
      justify-content: center;
       left: 2%;
      top: 2.5rem;
    }
    header nav {
         display: ruby-text;
        box-sizing: border-box;
        
       }
       header .nav-wrapper {
        padding-bottom: 0px;
        padding-top: 0px;
       }
    .search-wrapper .icon.icon-search {
        position: absolute !important;
        right: 45% !important;
    }
    .search .search-box input {
        width: 66% !important;
        margin: 0px !important;
       }
    .section.nav-brand {
        margin: .5rem;
    }
    .nav-wrapper.shrink {
      height: 6.5rem;
    }
    .carousel-slide-image picture {
      -webkit-box-flex: 1;
         -ms-flex: 1;
         flex: 1;
         height: 25pc;
         max-height: 25pc;
         overflow: hidden;
         width: 100%;
     }
     .carousel .carousel-slide .carousel-slide-content {
      z-index: 1;
      margin: 0px;
      padding: 0px;
      top: 2%;
      margin-top: 24rem;
  }
     p {
             line-height: 1.5;
         text-align: left;
     }
     .carousel .carousel-slide-indicators {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
       padding: 10px;
      align-content: flex-start;
      flex-wrap: wrap;
      margin: .5em 0 0 -0.9rem;
      flex-direction: row;
     }
     .columns > div > .columns-img-col {
      order: 2;
  }
  .cards-card-body h6 {
    font-size: 14px;
  }
  header nav .nav-sections ul > li {
    font-size: 14px;
    font-weight: 200;
    position: relative;
    top: 5rem;
    margin-bottom: -1.5rem;
    width: 275px;
    height: 31px;
    float: left;
    right: 4rem;
    background: #202020;
    border-top: 1px solid hsla(0, 0%, 100%, .05);
    color: var(--textColorInverse, #ebebeb);
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 1em;
  }
  .search-wrapper {
    position: absolute;
    left: 12rem;
    top: 0.8rem;
}
.nav-wrapper .default-content-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: -0.5rem;
    /* right: -4rem; */
    left: 4rem;
}


}