footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
/* My changes*/

footer {
  background-color: var(--text-color);
  font-size: var(--body-font-size-xs);
  color: #ffff;
}
.footer.block a {
  color: #ffff;
  font-size: var(--fontSizeSmall, 14px);
  padding: 15px 17px;
  text-decoration: none;
  text-transform: uppercase;
}
.footer.block a :hover {
 
  text-decoration: underline;
}
.section.footer-section p:first-of-type {
  font-size: 50px;
  padding: 10px 0px 20px;
}
.footer.block p:nth-of-type(2) {
  position: relative;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-start;
    margin-top: -5.5rem;
    padding: 10px
}


@media(max-width: 767px) {
.section.footer-section p:first-of-type {
  font-size: 50px;
  padding: 10px 0px 20px;
  display: grid
;
  align-items: start;
  align-content: center;
  justify-items: start;
}
footer .footer p {
  margin: 0px;
}
.footer.block p:nth-of-type(2) {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  margin-top: 0em;
  padding: 0px;
}
  .footer.block p {
    font-size: 9pt;}
  }